<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>New Post</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://use.fontawesome.com/250c8a1e25.js"></script>
	<style>
		body {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	</style>
</head>
<body>

<!-- <div class="container">

<%- include('partials/navbar') %>

	<ul class="articles">
		<% for(var i = 0; i<articles.length; i++) { %>
			<li class="article">
				<span class="fa fa-chrome">Articles Title: <%= articles[i].postTitle %></span><br>
				<span class="fa fa-commenting">Article text: <%= articles[i].message %></span><hr><br><br>
			</li>
		<% } %>
	</ul>



<%- include('partials/footer') %>
</div> -->

<!-- ******************************* -->

<div class="container">
		<%- include('partials/navbar') %>
		<div class="jumbotron">
			<h1>Svi clanci</h1>
			<p class="lead">Vesti iz Sirbistana i sveta!</p>
		</div>

		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
				<div class="list-group">
				<!-- loop over blog posts and render them -->
					<% for(var i=0; i<articles.length; i++) { %>
					<a href="/post/<%= articles[i]._id %>" class="list-group-item"> 
						
						<h4 class="list-group-item-heading"><%= articles[i].postTitle %></h4>
						<p class="list-group-item-text">Poruka: <%= articles[i].message %></p>
						<p class="list-group-item-text">Autor: <%= articles[i].author %></p>
					</a>
					<% } %>
				</div>
			</div>
		</div>
		<%- include('partials/footer') %>
	</div>



</body>
</html>